#friends-display-link {
	display: block;
	text-align: center;
	background-color: #fafafa;
	padding: 5px 10px;
	font-weight: 600;
	font-size: 10px;
	margin-bottom: 10px;
	margin-top: -10px;
}

#friends-display-link i {
	color: rgba(0, 0, 0, 0.3);
	text-align: center;
	margin: 10px 6px;
}

.friends-screen {
	padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
	font-size: 12px;
	margin-top: 5px;
	border-top: var(--main-border);
	padding-top: 9px;
}
.friends-screen__channel-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}

#splach-screen {
	background-color: #404d63;
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: hideSplashScreen 0.4s ease-in-out forwards;
	animation-delay: 2s;
}

#splach-screen img {
	width: 110px;
	height: 110px;
}
