.welcome-header {
	margin: 90px 0px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 600;
}
.welcome-header__title {
	margin-bottom: 20px;
	font-size: 30px;
}
.welcome-header__text {
	width: 60%;
	opacity: 0.7;
	line-height: 150px;
}

#login-form {
	display: flex;
	flex-direction: column;
	margin: 0px 25px;
	transition: border-color 0.4s ease-in-out;
}

#login-form input {
	font-size: 18px;
	padding: 15px 0px;
	margin-bottom: 10px;
	border: none;
}

#login-form input::placeholder {
	color: rgba(0, 0, 0, 0.4);
}

#login-form input:not([type='submit']) {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	transition: border-color 0.4s ease-in-out;
}

#login-form input:focus {
	border-color: var(--blue);
}

#login-form input[type='submit'] {
	background-color: var(--blue);
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	padding: 15px 0px;
	margin-top: 6px;
}

#login-form a {
	text-align: center;
	text-decoration: none;
	font-size: 15px;
	color: inherit;
	margin: 5px 0px;
}
