.status-bar--setting {
	box-sizing: border-box;
	top: 0;
	width: 100%;
}

.setting__icon {
	padding: 20px 0;
	border-bottom: rgba(0, 0, 0, 0.1);
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.setting__icon i {
	margin-right: 20px;
	font-size: 20px;
}
.setting__icon:nth-child(3) {
	border-bottom: var(--main-border);
}

.setting__icon-column:nth-child(3) {
	opacity: 0.5;
}
