.user-component {
	justify-content: space-between;
}

.user-component,
.user-component__column {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: -5px;
	margin-top: 5px;
}

.user-component__column i {
	margin-bottom: 40px;
}

.user-component__avatar {
	width: 55px;
	height: 55px;
	object-fit: cover;
	border-radius: 30%;
	margin-right: 26px;
}

.user-component__avatar--xl {
	width: 60px;
	height: 60px;
}

.user-component__avatar--sm {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

.user-component__name {
	color: var(--blue);
	font-weight: 700;
	font-size: 15px;
	margin-left: -10px;
	margin-top: 10px;
}
.user-component__name--not-bold {
	display: block;
	font-weight: 400;
	position: absolute;
	margin-top: -54px;
	width: 200px;
	font-size: 13px;
}
.user-component__sub {
	margin-top: 10px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
	margin-left: -10px;
}

.user-component__text {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: -35px;
}

.user-component__info {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-left: 72px;
	margin-top: 33px;
	color: rgb(184, 40, 40);
	border-radius: 50%;
	border: 1.5px solid rgb(184, 40, 40);
	font-weight: 600;
	width: 10px;
	height: 10px;
}

.user-component__column:last-child {
	color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.user-component__time {
	display: block;
	margin-bottom: 10px;
	margin-top: -25px;
	font-size: 5px;
}

.user-component img {
	margin-bottom: 20px;
}
